<style>

.header img {
  float: left;
  width: 50px;
  height: 50px;
  float: left;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  float: left;
  color: #CCCCCC;
  text-align: center;
}

div.header{
    background-color: #B22222;
    overflow-y: hidden;
    width: auto;
    border-radius: 5px;

}
div.container {
    border-radius: 5px;
    background-color: #CCCCCC;
    background-position:center;
    padding: 20px;
    width:auto;
    left:50%;
    height:100%;
    display: :block;
    overflow-y: hidden;
    
    
}
body, html {
    height: 85%;
}

.bg { 
    background-image: url("bg1.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
     }

</style>
